<div class="block dark">

  <div class="contained">

    <div class="footer-left padded">
      <h2>Privacy</h2>
      <p>
        This website does not use cookies and makes no attempts to track you. <em>But that's only because there's no need.</em> There are many valid reasons why a website would want to track visitors, and I fully support the <em>ethical</em> use of web trackers.
      </p>
      <h2>About this website</h2>
      <p></p>
    </div>

    <div class="footer-right padded">
      <ul class="button-group">
        {% include links.html %}
      </ul>
    </div>

  </div>

</div>
