* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  color: #111;

  @include for-tablet-landscape-up() {
    font-size: 150%;
  }
}

main {
  display: block;
}

p {
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h1 {
  font-family: 'Russo One', sans-serif;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
}

.lato {
  font-family: 'Lato', sans-serif;
}

a {
  color: map-get($colors, link);
  text-decoration: none;

  &:visited {
    color: map-get($colors, link);
  }

  &:hover {
    color: lighten(map-get($colors, link), 10%);
  }
}

.dark {
  $c: #478;
  background-color: $c;
  background-image: linear-gradient(to bottom, $c, darken($c,5%));
  color: #fdfdfd;
  font-family: 'Roboto', sans-serif;

  a {
    color: inherit;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
