.block {
  margin: 0 auto;
  @extend %clearfix;
}

.no-display {
  display: none;
}

.column {
  @include for-desktop-up() {
    float: left;
    width: span(1);
  }
}

.double-column {
  @include for-desktop-up() {
    float: left;
    width: span(2);
  }
}

.right {
  @include for-desktop-up() {
    float: right;
  }
}

.short {
  padding-top: 1em;
  padding-bottom: 1em;
}

.tall {
  padding-top: 3em;
  padding-bottom: 3em;
}

.long-bottom {
  padding-bottom: 12em;
}

.padded {
  padding-left: 1em;
  padding-right: 1em;
}

#masthead {
  background: url(/assets/images/merced-rail-and-sky--cropped.jpg) no-repeat top left;
  background-size: cover;
  color: #000;
}

.button {
  padding: 0.5em 0.75em;
  margin-bottom: 0.2em;
  display: inline-block;
  background: #333;
  color: #fff;

  &:hover {
    background: #000;
  }
}

.button-group {
  padding-left: 0;
  list-style: none;

  li {
    display: inline-block;
  }

  a {
    @extend .button;
  }
}

.yellow {
  background: #ff0;
  color: black;
}
