.block {
  margin: 0 auto;
  @extend %clearfix;
  padding-top: 3em;
  padding-bottom: 10em;
}

.description {
  @include for-desktop-up() {
    width: span(4);
  }
}

.pitch {
  padding-bottom: 1em;

  @include for-desktop-up() {
    float: left;
    width: span(4);
  }
}

.padded {
  padding-left: 1em;
  padding-right: 1em;
}

.masthead {
  background: url(/assets/images/merced-sky-and-rail.jpg) no-repeat top left;
  background-size: cover;
}

.button {
  padding: 0.5em 0.75em;
  margin-bottom: 0.2em;
  display: inline-block;
  background: #333;
  color: #fafafa;

  &:hover {
    @include for-desktop-up() {
      background: #33c;
    }
  }
}

.button-group {
  padding-left: 0;
  list-style: none;

  li {
    display: inline-block;
  }

  a {
    @extend .button;
  }
}
