.block {
  margin: 0 auto;
  @extend %clearfix;
  padding-top: 3em;
  padding-bottom: 10em;
  max-width: 2200px;
}

.description {
  @include for-desktop-up() {
    width: span(4);
  }
}

.contained {
  margin: 0 auto;
  max-width: 1200px;

  &.tight {
    max-width: 800px;
  }
}

.padded {
  padding-left: 1em;
  padding-right: 1em;
}

.button {
  padding: 0.5em 0.75em;
  margin-bottom: 0.2em;
  display: inline-block;
  background: #333;
  color: #fdfdfd;
  cursor: pointer;
  text-decoration: none !important;

  &:hover {
    @include for-desktop-up() {
      background: #33c;
    }
  }
}

.button-group {
  padding-left: 0;
  list-style: none;

  li {
    display: inline-block;
  }

  a {
    @extend .button;
  }
}

.pitch {
  padding-bottom: 1em;

  @include for-desktop-up() {
    float: left;
    width: span(4);
  }
}

.masthead {
  background: url(/assets/images/merced-sky-and-rail.jpg) no-repeat top left;
  background-size: cover;
}

.footer-left {
  padding-bottom: 1em;
  @include for-desktop-up() {
    float: left;
    width: span(7);
  }
}

.footer-right {
  padding-bottom: 1em;
  text-align: center;
  @include for-desktop-up() {
    float: left;
    width: span(5);
    text-align: right;
  }

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}
