body {
  background-color: #495260;
  color: #FEFAFB;
}

.content {
  @include container(1000px);
  padding: 1em;
  margin-top: 40px;
}

.button {
  $background: #1F2232;
  $hover: lighten($background, 2%);

  display: inline-block;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  border-radius: 0.2em;
  background: $background;
  color: #FEFAFB;
  box-shadow: shadow(2);
  text-decoration: none;

  &:hover {
    background: $hover;
    box-shadow: shadow(3);
  }
}
