* {
  box-sizing: border-box;
}

body {
  background: white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 12rem;
}

.layer {
  @extend %vpad;
}

.layer-inside {
  @include container();
}

.post-listings {
  margin-top: 3em;
}

.post-listing {
  @include span(12);
  background: $c5;
  color: white;
  padding: 2em;
  transition: all 0.25s;
  cursor: pointer;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  text-overflow: ellipsis;
  overflow: hidden;

  .card-title {
    $color: white;

    color: $color;
    margin-top: 0;

    a {
      color: $color;
      &:hover {
        color: $color;
      }
    }
  }

  &:hover {
    background: $c3;
  }

  @include breakpoint(bp(iPadAir_l)) {
    @include span(6);
    height: 22em;
  }

  @include breakpoint(bp(laptop)) {
    @include span(3);
    padding: 3em;
  }
}

.post {
  @include container();
}

.post-header {
  padding-bottom: 0.1em;
}
