

.topbar-inner {
  @include container();
  position: relative;
  border-bottom: 4px solid black;

  .links {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .link {
    display: inline-block;
    float: right;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 1em;
  }
}

.site-name {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: inline-block;
  color: inherit;
  font-weight: bold;

  &:hover {
    color: inherit;
  }
}
