.topbar {
  @extend %clearfix;
  right: 0;
  top: 0;
  width: 100%;
  padding: 0.5em 1rem;
  background: white;
  color: black;

  .media-body span {
    display: inline-block;
    max-width: 25em;
  }

  .media-right {
    margin-left: 1.5em;
  }
}

.burger {
  position: relative;
  height: $topbar-burger-height;
  width: $topbar-burger-width;
  margin: $topbar-burger-vertical-padding 0;
  float: right;

  .top, .middle, .bottom {
    position: absolute;
    top: 0;
    display: block;
    height: $topbar-burger-slice-height;
    width: 100%;
    background: $topbar-burger-background;
    border-radius: $topbar-burger-slice-height;
  }

  .middle {
    top: $topbar-burger-height/2 - $topbar-burger-slice-height/2;
  }

  .bottom {
    top: auto;
    bottom: 0;
  }
}
