@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/lato-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
       url('/assets/fonts/lato-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/lato-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/lato-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/lato-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/lato-v13-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/fonts/lato-v13-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Lato Italic'), local('Lato-Italic'),
       url('/assets/fonts/lato-v13-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/lato-v13-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/lato-v13-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/lato-v13-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/lato-v13-latin-italic.svg#Lato') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/lato-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Lato Bold'), local('Lato-Bold'),
       url('/assets/fonts/lato-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/lato-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/lato-v13-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/lato-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/lato-v13-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/russo-one-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Russo One'), local('RussoOne-Regular'),
       url('/assets/fonts/russo-one-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/russo-one-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/russo-one-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/russo-one-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/russo-one-v5-latin-regular.svg#RussoOne') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v16-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/roboto-v16-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Italic'), local('Roboto-Italic'),
       url('../fonts/roboto-v16-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v16-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v16-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v16-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v16-latin-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v16-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v16-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v16-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
