@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/lato-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
       url('/assets/fonts/lato-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/lato-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/lato-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/lato-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/lato-v13-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/fonts/lato-v13-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Lato Italic'), local('Lato-Italic'),
       url('/assets/fonts/lato-v13-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/lato-v13-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/lato-v13-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/lato-v13-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/lato-v13-latin-italic.svg#Lato') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/lato-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Lato Bold'), local('Lato-Bold'),
       url('/assets/fonts/lato-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/lato-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/lato-v13-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/lato-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/lato-v13-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/russo-one-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Russo One'), local('RussoOne-Regular'),
       url('/assets/fonts/russo-one-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/russo-one-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/russo-one-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/russo-one-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/russo-one-v5-latin-regular.svg#RussoOne') format('svg'); /* Legacy iOS */
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 100%;

  @include for-tablet-landscape-up() {
    font-size: 150%;
  }

  p {
    line-height: 1.4;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-family: 'Russo One', sans-serif;
}

.justified {
  text-align: justify;
}

.centered {
  text-align: center;
}

.align-right {
  text-align: right;
}

h2 {
  font-size: 1em;
  text-transform: uppercase;
}

.character-style-1 {
  border-left: 2em solid rgba(0,0,0,0.5);
  padding-left: 0.25em;
}
