body {
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  line-height: 1.4;

  @include for-tablet-landscape-up() {
    font-size: 150%;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-family: 'Russo One', sans-serif;
}

.justified {
  text-align: justify;
}

.centered {
  text-align: center;
}

.align-right {
  text-align: right;
}

h2 {
  font-size: 1em;
  text-transform: uppercase;
}

.character-style-1 {
  border-left: 2em solid rgba(0,0,0,0.5);
  padding-left: 0.25em;
}
