$breakpoints: (
  iPhone5_p: 320px,
  iPhone6_p: 375px,
  iPhone5_l: 568px,
  iPhone6_l: 667px,
  iPadAir_p: 768px,
  iPadAir_l: 1024px,
  laptop: 1440px,
  container: 1024px
);

$z: (
  England: -9999
);

$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: split,
  container: bp(container),
  container-position: center,
  columns: 12,
  gutters: 0,
  column-width: false,
  global-box-sizing: border-box,
  last-flow: to
);

$c1: rgba(243, 232, 238, 1);
$c2: rgba(186, 205, 176, 1);
$c3: rgba(114, 155, 121, 1);
$c4: rgba(71, 91, 99, 1);
$c5: rgba(46, 44, 47, 1);
