$site: (
  horizontal-padding: 1rem
);

$susy: (
  columns: susy-repeat(12),
  gutters: 0,
  spread: 'narrow',
  container-spread: 'narrow'
);

$z-indexes: (
  England: -9999,
  topbar: 100
);

$colors: (
  black: #222,
  white: #fff,
  link: #0000dd,
  highlight-1: #7EE8FA,
  highlight-2: #80FF72,
  subtle-1: #EEE5E9
);

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}
