$site: (
  horizontal-padding: 1rem
);

$susy: (
  columns: susy-repeat(12),
  gutters: 0,
  spread: 'narrow',
  container-spread: 'narrow'
);

$z-index: (
  England: -9999,
  topbar: 100
);

$light-bg-colors: (
  text: #222,
  link: #00d,
  link-hover: #22f,
  header: #111
);

$dark-bg-colors: (
  text: #fff,
  link: #aaf,
  link-hover: #ccf,
  header: #fff
); 

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}
