---
layout: default
scss: frontpage
---
<div class="block">

  <article class="inner">
    <h1>Hi, I'm Joshua Gonzales.</h1>
    <p>
      I'm a first-year law student at UC Davis School of Law. With my background in engineering and network computing, I aim to specialize in cybersecurity law to help companies fulfill their legal and technical obligations toward protecting user data.
    </p>
  </article>

</div>

<div class="block black dark-bg">

  <article class="inner">
    <h2>Strengthening my community</h2>
    <p>
      I am committed to being a good neighbor. For me, that means engaging in the civic and political life of my community, and listening more than I speak. Being connected to the dreams and challenges of community is among life's most rewarding experiences, and I want to embody it in every aspect of my life.
    </p>
  </div>

</article>

<div class="block">
  <article class="inner">
    {{ content }}
  </article>
</div>
