---
layout: default
---
<div id="masthead" class="block white-text">

  <div class="tall padded">
    <h1>Hi, I'm Joshua Gonzales.</h1>
    <div class="column">
      <p>
        I'm a first-year law student at UC Davis School of Law. With my background in engineering and network computing, I aim to specialize in digital privacy and help technology companies fulfill their legal and technical obligations toward user data.
      </p>
      <ul class="button-group">
        <li><a target="_blank" href="https://www.linkedin.com/in/jfmgonzales/">LinkedIn</a></li>
        <li><a target="_blank" href="https://www.facebook.com/jfmgonzales">Facebook</a></li>
        <li><a target="_blank" href="https://twitter.com/@joshuadotbio">Twitter</a></li>
        <li><a target="_blank" href="/gpg.txt">My GPG Key</a></li>
        <li><a target="_blank" href="/ssh.txt">My SSH Key</a></li>
      </ul>
    </div>
  </div>

</div>

<div class="no-display">
  <script>
    var setMastheadMinHeight = function() {document.getElementById("masthead").style.minHeight = window.innerHeight + "px"};
    setMastheadMinHeight();
  </script>
</div>

<div class="tall block">

  <div class="short column padded">
    <h2>Strengthening my community</h2>
    <p class="">
      I am committed to being a good neighbor. For me, that means engaging in the civic and political life of my community, and listening more than I speak. I believe that being connected to the dreams and challenges of one's community is among life's most rewarding experiences, and I want to embody that belief in every aspect of my life.
    </p>
  </div>

  <div class="short column padded">
    <h2>Increasing my capacity</h2>
    <p class="">
      Good intentions are not enough. We need competent and reliable people to take on our most critical challenges. That's why I'm committed to lifelong learning and practice, and to continually honing my skills in a way that plays to my strengths.
    </p>
  </div>

  <div class="short column padded">
    <h2>Acting justly and ethically</h2>
    <p class="">
      Communities are built on foundations of trust. I will do my part to uphold that trust by being just, ethical, and fair in every aspect of my conduct, and by demading the same of others whenever I am in a position to do so.
    </p>
  </div>

</div>
