---
layout: default
scss: post
---

<div class="block">

  <article class="contained tight padded">
    <header>
      <h1>{{ page.title }}</h1>
      <div class="metadata">
        Written by <a href="{% if page.author_url %}{{ page.author_url }}{% else %}{{ site.url }}{% endif %}"{% if page.author_url %} rel="nofollow"{% endif %}>{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}</a> | <span>{{ page.date | date_to_string }}</span>
      </div>
    </header>
    <main>
      {{ content }}
    </main>
  </article>

</div>
